body{
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 17px;
    line-height: 1.6;
}
.input {
    padding-top: 100px;
}

.container {
    padding-top: 200px;
}

.mdc-layout-grid {
    justify-content: center;
}

.demo-grid-1 {
    padding: 200px;
    background-color: rgb(146, 218, 236);
}
.space {
    padding-top: 70px;
}
.demo-grid-ruler {
    padding-top: 30px;
}
.col3 {
    border-style: solid;
    border-color: blue;
    background-color: lightblue;
    text-align: center;
    border-radius: 5px;
    color: red;

}
.col4 {
    border-style: solid;
    border-color: blue;
    background-color: lightblue;
    text-align: center;
    border-radius: 5px;
    color: red;

}
